@font-face {
    font-family: gordita-regular ;
    src: url(font/Gordita\ Regular.otf);
}

@font-face {
    font-family: gordita-thin ;
    src: url(font/Gordita\ Thin.otf);
}

body{
    font-family: gordita-regular;
    margin: 0px;
    padding: 0px;
}

.corpo{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
}

.logo{
display: block;
margin: auto;
margin-top: 40px;
}

h1{
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    font-family: gordita-thin;
}

.center{
    text-align: center;
}

#nome{
    margin: 10px;
    padding: 20px 15px;
    border-radius: 10px;
    width: 450px;
    height: 200px;
    border: 7.01133px solid rgba(0, 87, 255, 0.5);
    font-family: gordita-regular;
}

.bt-azul{
    background-color: #2E3A7A;
    color: white;
    font-family: gordita-regular;
    border-radius: 5px;
    border-style: none;
    padding: 8px 25px;
}
.bt-azul:hover{
    background-color: rgba(0, 87, 255, 0.5);;
}

.direitos{
    font-family: gordita-thin;
    font-size: 15px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;
    background-color: #2E3A7A;
    padding: 10px 14px;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 600px){
    .logo{
        width: 317.76px;
        height: 90px;
    }

    h1{
        font-size: 16px;
    }

    #nome{
        width: 350px;
    }
}